<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <div>
        <span>제목</span>
        <span><%= docs[0].subject %></span>
    </div>
    
    <div>
        <span>분류</span>
        <span><%= docs[0].service %></span>
    </div>
    
    <div>
        <span>내용</span>
        <span><%= docs[0].content %></span>
    </div>
    
    <div>
        <span>인증키</span>
        <span><%= docs[0].auth_key %></span>
    </div>
    
    <div>
        <span>가격</span>
        <span><%= docs[0].price %></span>
    </div>
    <a href="/board/detail/<%= docs[0]._id %>/edit">글수정</a>
    <form action= "/board/detail/delete/<%= docs[0]._id %>" method="POST">
    <input type='submit'>글삭제
    </form>
</body>
</html>